@mixin mixin-clearfix {
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

/**
*
* 垂直居中
*/
@mixin mixin-verticalCenter {
  &::after {
      content: "";
      display: inline-block;
      width: 0px;
      height: 100%;
      vertical-align: middle;
  }
}

// flex布局
@mixin mixin-flex($justify, $alignItems, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
  flex-direction: $direction;
}

// 溢出隐藏
@mixin mixin-textHidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行溢出隐藏
@mixin mixin-textHiddens($number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-line-clamp: $number;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 鼠标滑过高亮
@mixin mixin-textHover {
  &:hover {
    color: #FF2E5A;
    cursor: pointer;
  }
}